[submodule "Externals/Alamofire"]
	path = Externals/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Externals/Spring"]
	path = Externals/Spring
	url = https://github.com/MengTo/Spring.git